{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <table class="table">
                {% for item in authors %}
                    <tr>
                        <td><a href="{{ path('singleAuthor',{'id': item.idauthors}) }}">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
